@using PagedList;
@using PagedList.Mvc;
@using System;

<div class="row">
    @if (ViewBag.News != null)
    {
        foreach (Domain.Entities.GroupNewse neww in ViewBag.News)
        {
            <div class="col-md-4">
                <h2>@neww.Title</h2>
                <p>@neww.Text</p>
                @neww.CreateDate.ToShortDateString()
                <p>@Html.ActionLink("Читать полностью", "ReadNews", "Home", new { id = neww.Id }, new { @class = "btn btn-default" })</p>                
            </div>
        }        
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.News, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "news" }))
