
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Администрирование</h2>

<p>@Html.ActionLink("Cities", "Index", "Cities")</p>
<p>@Html.ActionLink("Countries", "Index", "Countries")</p>
<p>@Html.ActionLink("GroupNewses", "Index", "GroupNewses")</p>
<p>@Html.ActionLink("GroupProfiles", "Index", "GroupProfiles")</p>
<p>@Html.ActionLink("Groups", "Index", "Groups")</p>
<p>@Html.ActionLink("GroupTypes", "Index", "GroupTypes")</p>
<p>@Html.ActionLink("Messages", "Index", "Messages")</p>
<p>@Html.ActionLink("Regions", "Index", "Regions")</p>
<p>@Html.ActionLink("RequestGGs", "Index", "RequestGGs")</p>
<p>@Html.ActionLink("RequestGUs", "Index", "RequestGUs")</p>
<p>@Html.ActionLink("UserProfiles", "Index", "UserProfiles")</p>
<p>@Html.ActionLink("WallOfUsers", "Index", "WallOfUsers")</p>

